{% extends "firstapp/base.html"%}
{% block body_block %}
<style>
body{
    background-image:url("https://st3.depositphotos.com/4593207/17797/v/600/depositphotos_177977296-stock-video-liberty-sinking-night-background-loop.jpg");
    background-size:cover;
    }
    .kk{
    border:2px solid white;
    margin-top:100px;
    margin-left:500px;
    margin-right:400px;
    }
    .k{
    background:white;

    }
</style>
<body>
<br><br><br><br>
<div class="kk">
    <a href="/queries" class="k"><font color="white"><strong><center>QUERIES UPDATE</center></strong></font></a><br><hr>
    <a href="/file" class="k"><font color="white"><strong><center>UPICS UPDATE</center></strong></a><br><hr>
    <a href="/file1" class="k"><font color="white"><strong><center>UDOCS UPDATE</center></strong></font></a><br><hr>
    <a href="/data" class="k"><font color="white"><strong><center>UWIKI UPDATE</center></strong></font></a><br>
</div>
</body>
{% endblock %}