<!DOCTYPE html>
{% extends "firstapp/base.html" %}
{% block body_block %}
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item"><font color="blue"><strong>MEMBERS OF ORGANIZATION</strong></font></h3>
<strong>
  <a href="#" class="w3-bar-item w3-button">N JYOTHI</a>
  <a href="#" class="w3-bar-item w3-button">K R SUPRAJA</a>
  <a href="#" class="w3-bar-item w3-button">K R SWETHA</a>
  <a href="#" class="w3-bar-item w3-button">G MANASA</a>
  <a href="#" class="w3-bar-item w3-button">P GNANA PRASANNA</a>
  <a href="#" class="w3-bar-item w3-button">K RUBIYA</a>
  <a href="#" class="w3-bar-item w3-button">S KIRAN</a>
  <a href="#" class="w3-bar-item w3-button">K CHARAN</a>
  <a href="#" class="w3-bar-item w3-button">K FAYAZ</a>
  <a href="#" class="w3-bar-item w3-button">K PRAVEEN KUMAR</a>
  <a href="#" class="w3-bar-item w3-button">R VINAY KUMAR</a>
  <a href="#" class="w3-bar-item w3-button">K CHANDRA SEKHAR</a>
  <a href="#" class="w3-bar-item w3-button">N SREENIVASULU</a>
  <a href="#" class="w3-bar-item w3-button">R HARISH</a></strong>
</div>
<div style="margin-left:25%">
<div class="w3-container w3-teal">
  <h1><strong>Asha Jyothi Educational and Charitable Society</strong></h1>
</div>
  <img src="https://lh3.googleusercontent.com/proxy/GN4_3n_L35rqmW_viCN-OWCa3FjobzG3cGnSceWfdoO1imHqhWNweXCsvY1hxuERiXKF35tLtzx11BZMh_3irJ78DYr_0fUUyRXCUpJrVOUG6O6bdc5z-H6ZUA" alt="Car" style="width:100%">
  <P></P>
  <P></P>
  <P></P>
  <P></P>
</div>
</body>
</html>
{% endblock %}
